db
*.summary
incremental_db
*.rpt
*.bak
flash/back
flash/dual_config/synthesis
flash/on_chip_flash/synthesis
output_files
!/output_files/*.cf0
!/output_files/*.pof
flash/.qsys_edit
flash/dual_config
flash/unique_id
flash/on_chip_flash
.qsys_edit
